/* =============
    Hero
============= */
#herobg {
    background-color: $peach;
    margin: -44px 20px 0 0;
    height: 100vh;

}
#hero {

    background-image: url("../img/hero/hero.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 105vh;
    margin-top: -100vh;

    text-align: center;

    @include sm {
        // width: 100vw;
    }

    h1 {
        padding: 55vh 0 160px;
        font-size: rem-calc(30);
    }

    a {
        font-family: 'Marcellus', serif;
        color: $red;
        border: 1px solid $red;
        padding: 7px 20px;
    }


}
