/* =============
    Why
============= */

#why {
    font-family: 'Marcellus', serif;
    font-size: rem-calc(18);
    line-height: 24px;
    text-align: right;

    #gridtest {
        @include sm {
            display: grid;
            grid-template-columns: 28% auto;
            grid-template-areas: ". text";
        }
    }

    #arrow {
        margin-top: 20px;
        background-image: url("../img/why/why.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        height: 550px;
    }

    p {
        @include sm {
            grid-area: text;
        }
    }







}
