/* =============
    Why
============= */

#why {
    font-family: 'Marcellus', serif;
    font-size: rem-calc(18);
    line-height: 24px;
    text-align: right;
    img {
        width: 100%;
        margin-top: 30px;
    }





}
